@{
    ViewData["Title"] = "Inicio";
}

<!--Sitio Web ESTATICO, El formulario de Contacto realmente no funciona-->
<!--Autor: GieziAdael-->

<div class="hero text-center">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <img class="logo" src="https://scontent.fmex36-1.fna.fbcdn.net/v/t39.30808-6/471154171_122132578946435218_8640230279674833635_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeGC4YcF5kYOn5KmPq2phhOQcuVSuQpwAcBy5VK5CnABwEzqRxOUjyv5eM92ytVSquvnT9kgcbdfcKZgkL4MvQRH&_nc_ohc=B-4H88zyIp4Q7kNvwHbQPht&_nc_oc=AdlSqEfTD53EigwEwGX8prf3UowLHJE0nPxYHtILfyOXiuQQC-ZMgVtMl1bXSpO6_s8&_nc_zt=23&_nc_ht=scontent.fmex36-1.fna&_nc_gid=xHirfiAblGBsURZD4RvUXg&oh=00_AfXsn-s098Dc4V3ONYJbbiGDsjxJdFdj0uvHGwCNWCvZEQ&oe=68B6595C" />
        <h1 class="display-4 ms-3">Bienvenido!</h1>
    </div>
    <p>
        Primer proyecto demostrativo basico sobre <a href="https://learn.microsoft.com/aspnet/core">Front-end, desarrollado con ASP.NET Core</a>.
    </p>
</div>


<p class="justificarP">
	Descripcion
</p>
<p class="justificarP">
	¡Hola! Este es el primer proyecto basico desarrollado con HTML, CSS y Bootstrap, donde apliqué mis primeros conocimientos en desarrollo web front-end haciendo uso de Botstrap (31 de Agosto 2025). En este proyecto, he creado una página web sencilla pero funcional que muestra información relevante sobre mí y mis habilidades como desarrollador, esta pagina la actualizaré (en cuanto a información) cada vez que gane nuevas habilidades, o experiencias.
</p>
<p class="justificarP">
	Nota: Este proyecto es solo una demostración básica y no está destinado a ser un portafolio profesional. Sin embargo, me ha permitido familiarizarme con las tecnologías web y sentar las bases para futuros proyectos más complejos.
</p>

<p class="mt-5">Habilidades</p>

<div class="container text-center">
    <!-- Encabezados -->
    <div class="row border">
        <div class="col border">Técnicas</div>
        <div class="col border">Blandas</div>
        <div class="col border">Personales</div>
    </div>

    <!--Filas-->
    <div class="row " style="border-bottom: 0px solid;" >
        <div class="col">Inicio con el mundo de la programación con C# (2017)</div>
        <div class="col">-</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid">
        <div class="col">Bases de Unity 2D / Scripts en C# (2017)</div>
        <div class="col">Comunicacion a comunidades en Desarrollo de Software</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid">
        <div class="col">Programacion Web, HTML y CSS (2018)</div>
        <div class="col">-</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Bases de Java (2020)</div>
        <div class="col">-</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Algoritmica</div>
        <div class="col">-</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">POO y Java (2021)</div>
        <div class="col">Trabajo en equipo para el desarrollo de Software</div>
        <div class="col">Teoría Musical y Piano / Basico</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Bases de SQL/MySQL, y PHP para Back-end en sitios Web (2022)</div>
        <div class="col">Comunicacion formal</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Desarrollo de Software Desktop y Automatizacion de tareas cotidianas (2023)</div>
        <div class="col">Organizacion de trabajo en areas de empresas</div>
        <div class="col">Teoría Musical y Piano / Avanzado</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Python y Desarrollo de Redes Neuronales Artificiales Basico (2024)</div>
        <div class="col">-</div>
        <div class="col">-</div>
    </div>

    <div class="row " style="border-bottom: 0px solid #241E24;">
        <div class="col">Bases de ASP.NET Core MVC -> Bootstrap (Agosto 2025)</div>
        <div class="col">-</div>
        <div class="col">Fotografía</div>
    </div>
</div>

<p class="mt-5">Ahora mostrare una breve presentacion de todos mis proyectos Back-end.</p>

<!--Esto me podria servir (Tabs)-->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">
            Proyecto I
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">
            Proyecto II
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">
            Proyecto III
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab4">
            Proyecto IV
        </button>
    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab5">
            Proyecto V
        </button>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
        <h4 class="mt-3">Esta seccion se actualizara pronto!</h4>
        <p class="justificarP mt-2">-</p>
        <!--Abrir Modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">
            Ver Proyecto
        </button>
    </div>
    <div class="tab-pane fade" id="tab2">
        <h4 class="mt-3">Esta seccion se actualizara pronto!</h4>
        <p class=" justificarP mt-2">-</p>
        <!--Abrir Modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">
            Ver Proyecto
        </button>
    </div>
    <div class="tab-pane fade" id="tab3">
        <h4 class="mt-3">Esta seccion se actualizara pronto!</h4>
        <p class="justificarP mt-2">-</p>
        <!--Abrir Modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">
            Ver Proyecto
        </button>
    </div>
    <div class="tab-pane fade" id="tab4">
        <h4 class="mt-3">Esta seccion se actualizara pronto!</h4>
        <p class="justificarP mt-2">-</p>
        <!--Abrir Modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">
            Ver Proyecto
        </button>
    </div>
    <div class="tab-pane fade" id="tab5">
        <h4 class="mt-3">Esta seccion se actualizara pronto!</h4>
        <p class="justificarP mt-2">-</p>
        <!--Abrir Modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">
            Ver Proyecto
        </button>
    </div>
</div>

<hr>
<!--Fin de lo que si me podria servir xD-->

<p class="mt-5">Teoría y Practicas de mi Carrera Técncica</p>
<div class="table-responsive">
    <table class="table table-sm table-borderless align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>No.</th>
                <th>Proyecto.</th>
                <th>Descripcion</th>
                <th>Tecnologias</th>
                <th>URLs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p class="justificarPtb">1</p></td>
                <td><p class="justificarPtb">Programacion Estructurada</p></td>
                <td><p class="justificarPtb">En el segundo semestre, investigue Algoritmica, y algunas bases para el Desarrollo de Software.</p></td>
                <td><p class="justificarPtb">PSeInt</p></td>
                <td class="text-center"><a href="https://www.google.com" class="btn btn-primary btn-sm">-</a></td>
            </tr>
            <tr>
                <td><p class="justificarPtb">2</p></td>
                <td><p class="justificarPtb">POO y Java + Bases de Datos</p></td>
                <td><p class="justificarPtb">En el tercer semestre, estudie Java y algunas caracteristicas de la Programacion Orientada a Objetos, ademas como parte de las actividades, estudie sobre SQL, lo basico para desarrollar un CRUD.</p></td>
                <td><p class="justificarPtb">Java, MySQL</p></td>
                <td class="text-center"><a href="https://www.google.com" class="btn btn-primary btn-sm">-</a></td>
            </tr>
            <tr>
                <td><p class="justificarPtb">3</p></td>
                <td><p class="justificarPtb">Desarrollo Front-end</p></td>
                <td><p class="justificarPtb">En el cuarto semestre, vi temas sobre el desarrollo de sitios web, unicamente en la parte visual.</p></td>
                <td><p class="justificarPtb">HTML5, CSS3, JS</p></td>
                <td class="text-center"><a href="https://www.google.com" class="btn btn-primary btn-sm">-</a></td>
            </tr>
            <tr>
                <td><p class="justificarPtb">4</p></td>
                <td><p class="justificarPtb">Desarrollo de Aplicaciones Moviles</p></td>
                <td><p class="justificarPtb">En el quinto semestre, desarrolle diversas aplicaciones en una plataforma educativa, y como proyecto final, una aplicacion en una plataforma real.</p></td>
                <td><p class="justificarPtb">AppInventor, Android Studio</p></td>
                <td class="text-center"><a href="https://www.google.com" class="btn btn-primary btn-sm">-</a></td>
            </tr>
            <tr>
                <td><p class="justificarPtb">5</p></td>
                <td><p class="justificarPtb">Redes Neuronales</p></td>
                <td><p class="justificarPtb">En mis estadias, realice una investigacion teorica sobre la creacion de Modelos matematicos para predecir datos de regresion lineal. Sin librerias, realice una red Neuronal, los resultados lo presente en una empresa de TI.</p></td>
                <td><p class="justificarPtb">Python</p></td>
                <td class="text-center"><a href="https://www.google.com" class="btn btn-primary btn-sm">-</a></td>
            </tr>
        </tbody>
    </table>
</div>




<p class="mt-5">Video de Youtube</p>

<div class="ratio ratio-4x3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZjN68JjEJnA?si=F7Mx4vp1Zxfb0zd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="p-4 shadow-lg rounded-4" style="background-color: #1F1F1F; width: 400px;">
        <h4 class="text-white mb-4">Contáctame</h4>

        <form>
            <div class="mb-3">
                <label class="form-label text-white">Título</label>
                <input type="text" class="form-control rounded-3" />
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Descripción</label>
                <textarea class="form-control rounded-3" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Email</label>
                <input type="email" class="form-control rounded-3" placeholder="email" />
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Tipo</label>
                <select class="form-select rounded-3">
                    <option>Comentario</option>
                    <option>Error</option>
                    <option>Queja</option>
                    <option>Propuesta</option>
                </select>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-white">
                    Acepto <a href="https://www.google.com" class="text-warning">términos y condiciones</a>
                </label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary rounded-3">Enviar</button>
            </div>
        </form>
    </div>
</div>

<!--Modales-->
<!--Como un evento de: ¿Estas seguro de hacer eso?, como envio de datos o reedireccionar a otra URL ajena-->
<div class="modal fade" id="ventanaModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black">
                    Accion a Realizar
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body text-black">
                <p>¿Estas seguro de realizar esta accion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="https://github.com/GieziAdael" class="btn btn-primary">Aceptar</a>
            </div>
        </div>
    </div>
</div>
<!--Aqui termina el Modal-->